img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo {
    width: 180px;
}

.login-logo {
    height: auto;
    width: auto;
}

.modal-title-edit{
    margin-top: 1em;
    margin-left: 1em;

}

.modal-image {
    height: 9%;
    width: 9%;
    margin-right: 1em;
}

.card-container{
    margin-bottom: 155px;
    margin-top: 135px;
}



.about-img {
    height: auto;
    padding: 1em;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.logo-link {
    background: url("../assets/devsplash_0.png") no-repeat;
    background-size: contain;
    width: 145px;
    height: 35px;
}

.required:after {
    content: " *";
    color: red;
}
#error-messages {
    color: red;
}
a{
    text-decoration: none;
}

@media (min-width: 47em) {
    .details-wrapper {
        border: lightgrey 1px solid;
        border-radius: 1%;
    }
}

.instruction {
    color: #8f8f8f;
    font-size: .75em;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}