img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.required:after {
    content: "*";
    color: red;
}
#error-messages {
    color: red;
}
a{
    text-decoration: none;
}

@media (min-width: 47em) {
    .details-wrapper {
        border: lightgrey 1px solid;
        border-radius: 1%;
    }
}